src/Scrumr.Web.MainSite/Service References/Commanding/IScrumrCommandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Scrumr.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scrumr.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6000/IScrumrCommandService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6000/IScrumrCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" />
  <xs:complexType name="AddNewSprintToProject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="From" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
          <xs:element minOccurs="0" name="SprintId" type="ser:guid" />
          <xs:element minOccurs="0" name="To" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddNewSprintToProject" nillable="true" type="tns:AddNewSprintToProject" />
  <xs:complexType name="CreateNewProject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
          <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateNewProject" nillable="true" type="tns:CreateNewProject" />
  <xs:complexType name="AddNewStoryToSprint">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q3:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
          <xs:element minOccurs="0" name="SprintId" type="ser:guid" />
          <xs:element minOccurs="0" name="StoryId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddNewStoryToSprint" nillable="true" type="tns:AddNewStoryToSprint" />
  <xs:complexType name="StartSprint">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" base="q4:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
          <xs:element minOccurs="0" name="SprintId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StartSprint" nillable="true" type="tns:StartSprint" />
</xs:schema>